#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-line {
  font-family: "Courier New";
}

.circuit-1 {
  background-color: khaki;
}

.circuit-2 {
  background-color: orange;
}

.circuit-3 {
  background-color: gray;
}
