.surface-submerge-button {
    padding: 15px 30px;
    margin: 15px 8px;
    letter-spacing: 2px;
}

.submerge-button-pulse {
    animation: pulse 1s infinite;
}

/* Add pulsing effect to surface button */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}
